<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
    您好，{{ name }}
    <div style="background: darkorange; height: 100px;margin-bottom: 5px;">{{ name }}</div>
    <div style="background: royalblue;height: 100px;margin-bottom: 5px;">{{ age }}</div>
    <div style="background: royalblue;height: 100px;margin-bottom: 5px;"></div>
    <div style="background: royalblue;height: 100px;margin-bottom: 5px;"></div>
    <p><span style="color:cyan;"></span></p>
    <input type="text" value="{{ name }}">
    <img src="/static/1.jpg" style="width:200px;height: 200px;">
</body>
</html>