<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/view_test/argument/argument?id=1&name=zhangsan">查看用户1</a>
    <a href="/view_test/argument/argument?id=2&name=lisi">查看用户2</a>
    <a href="/view_test/argument/argument?id=3&name=wangwu">查看用户3</a>

    <form action="/view_test/argument/argument/">
        id:<input type="text" name="id"><br>
        name:<input type="text" name="name"><br>
        geneder:<input type="radio" name="geneder" value="1">男
                <input type="radio" name="geneder" value="0">女<br>
        hobby:<input type="checkbox" name="hobby" value="football"/>足球
        <input type="checkbox" name="hobby" value="basketball"/>篮球
        <input type="checkbox" name="hobby" value="volleyball"/>排球<br>
        <input type="submit" value="提交">
    </form>

</body>
</html>